.title {

    font-family: 'Inconsolata', monospace;
    font-style: normal;
    font-weight: bold;
    
}

.title-404 {
    font-family: 'Space Mono', monospace;
}


.footer-text {
    font-family: 'Montserrat', sans-serif;
}

